/* Create a neutral workspace */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the overall background color as a light grey */
body {
    background-color: #d9dcd6;
}

/* Set padding, font, font color, and background for entire header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Set font size for h1 tag within header and display elements horizontally */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Set letters "seo" within h1 tag as the same color as the background */
.header h1 .seo {
    color: #d9dcd6;
}

/* Set orientation and style for navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Define navigation list as without bullet */
.header nav ul {
    list-style-type: none;
}

/* Set left margin for navigation links and display elements horizontally */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set text color for links and remove link underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set font-size for all paragraph text */
p {
    font-size: 16px;
}

/* Set style and orientation for primary image below navigation */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Set orientation for main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set style and orientation for main content sections */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set maximum image height for main content images */
.main-section img {
    max-height: 200px;
}

/* Set bottom margin and font size for main content headers */
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Set orientation for 1st and 3rd main sections */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set orientation for 2nd main section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set style and orientation for aside content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Set style and orientation for aside content sections */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Set orientation for aside content headers */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Set orientation for aside content images */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set style and orientation for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Set font size for footer header */
.footer h4 {
    font-size: 20px;
}
